:root {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  border-radius:0;
  border-left:1px solid rgba(255,255,255,0.1);
}

::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.2);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255,255,255,0.22);
}

::-webkit-scrollbar-thumb:active {
  background: rgba(255,255,255,0.25);
}

.tiny-label {
  font-size: 9px;
}
